header
  
section
  h1 Ellen Galperin
  h3 Ellen currently resides in New York City where she works for ThoughtWorks as a developer. She has a passion for clear & concise code, human centered design, and using technology as a tool for social and economic justice. When she is not playing games on her 3DS or binging documentaries on Netflix, she can be found exploring the New York food scene.

  p My #[a(href="https://galperie.github.io/") tech blog] where I post tutorials, thoughts, and experiences

  p Also some #[a(href="") fun stuff] I've built

  a(href="")
      img(src="images/mail.ico").icon
  a(href="https://github.com/galperie")
    img(src="images/github.ico").icon
  a(href="https://twitter.com/8bytewonder")
    img(src="images/twitter.ico").icon
  a(href="https://www.linkedin.com/in/ellen-galperin-370aa466/")
    img(src="images/linkedin.ico").icon

  p.credits props to the creator of the 
   a(href="https://www.iconfinder.com/iconsets/black-white-social-media") icons
 
footer
  img(src="images/newYork2.png")
